<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    

    <servers>
        <server>
            <id>nexus</id>
            <username>microdc</username>
            <password>zaw7QRpU6H9D</password>
        </server>
        <server>
            <id>nexus-releases</id>
            <username>microdc</username>
            <password>zaw7QRpU6H9D</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>microdc</username>
            <password>zaw7QRpU6H9D</password>
        </server>
    </servers>
    
    <mirrors>
        <!-- Mirror all Maven Central traffic to your local Nexus repository -->
        <mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>https://nexus.internal.un.dev.ngenius-payments.com/nexus/content/groups/public/</url>
        </mirror>
    </mirrors>
    
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <!-- Release repository -->
                <repository>
                    <id>nexus-releases</id>
                    <url>https://nexus.internal.un.dev.ngenius-payments.com/nexus/content/repositories/releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <!-- Snapshot repository -->
                <repository>
                    <id>nexus-snapshots</id>
                    <url>https://nexus.internal.un.dev.ngenius-payments.com/nexus/content/repositories/snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <!-- Plugin repository -->
                <pluginRepository>
                    <id>nexus-plugins</id>
                    <url>https://nexus.internal.un.dev.ngenius-payments.com/nexus/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
