target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE specific files ###
.idea
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

### Docker and K8s specific files ###
*.env
.env
.env.*
*.log 